aiokatcp
appdirs
async-timeout
decorator
fakeredis
future
h5py
katversion
llvmlite
Mako
MarkupSafe
msgpack
netifaces
numba
numpy
pandas
py
pycuda
pyephem
pygelf
pytest
python-dateutil
pytools
pytz
redis
scipy
six
spead2
typing_extensions
katpoint @ git+https://github.com/ska-sa/katpoint
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdpsigproc[CUDA] @ git+https://github.com/ska-sa/katsdpsigproc
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
